* { padding:0; margin:0; }
body { font-family: sans-serif; font-size: 18px; }
#content__search-container { border-bottom: 2px solid #ddd; }
#content__search { border: none; padding: .5em; width: 100%; font-size: 18px; }
#content-main { height: calc(100vh - 44px); }
#content-main__list { float: left; width: 200px; height: 100%; border-right: 2px solid #ddd; }
#content-main__editor-container { margin-left: 202px; height: 100%; width: calc(100vw - 214px); }
#content-main__editor { border: none; width: 100%; height: 100%; padding: .5em; font-size: 18px; line-height: 1.4em; }
.content-main__list-item { padding: .5em; }
.content-main__list-item--active { background-color: #55f; color: #fff; }
.content__title { font-weight: 500; display: block; }
.content__preview { font-size: 12px; color: #666; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
